<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/index.css">
        <%- include('../partials/head_links'); %>
        <title>Hermès</title>
    </head>
    <body>
        <header>
            <%- include("../partials/header_title", { title: "P.O.R.T.A.I.L", title_id: "hermes", subtitle: "Page Originale Recensant Tous les Arts Intelligents et Libres"}) %>
            <p>Bienvenue sur le réseau interne de l'animation <i>Programmation</i>, vous trouverez ici les différents sites créés par les animés, vous pouvez également ajouter le vôtre en utilisant <a href="/upload">cette page.</a><br>Il y'a actuellement <%= locals.websites.length %> sites hébergés !</p>
        </header>
        <div id="website_list">
            <div id="website_list_header">
                <div id="website_list_header_text">
                    <h1>Liste des sites web</h1>
                    <p>Voici la liste de tous les sites déployés</p>
                </div>
                <div id="website_list_header_add_button">
                    <a href="/upload">Ajouter un site</a>
                </div>
            </div>
            <div id="website_list_table">
                <% if (locals.websites.length == 0) { %>
                    <h3 id="empty_table">Aucun site n'a encore été publié</h3>
                <% } else { %> 
            <table>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Créateur</th>
                        <th>Lien</th>
                        <th>Adresse IP</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < locals.websites.length; i++) { %>
                        <tr>
                            <td class="table_num"><%= i+1 %></td>
                            <td class="table_creator"><%= locals.websites[i].creatorName %></td>
                            <td class="table_link_dnsname"><a href="http://<%= locals.websites[i].dnsname %>"><%= locals.websites[i].dnsname %></a></td>
                            <td class="table_link_ip"><a href="http://<%= locals.websites[i].ip %>"><%= locals.websites[i].ip %></a></td>
                            <td class="table_status status_<%= locals.websites[i].status %>"><span></span></td>
                            <% if (locals.websites[i].userId == locals.userId) { %>
                            <td class="table_edit"><a href=""><i>🖊️</i></a></td>
                            <% } else { %>
                            <td class="table_edit"></td>
                            <% }%>
                        </tr>
                <% } %>
                </tbody>
            </table>            
            <% } %> 
            </div>
        </div>
        <%- include('../partials/footer') %>
    </body>
</html>